/* ****** Grid - Container ***** */

.grid-container{
    display: grid;
    min-width: 100%;
    max-width: 185rem;
    grid-template-columns: minmax(1fr, 185rem);
    grid-template-rows: 5rem minmax(calc(100vh - 10rem), 1fr) 5rem;
    background-color: var(--background-body);
    grid-template-areas: 
        'header'
        'main'
        'footer'
    ;
}

/* header */
.header{
    grid-area: header;
    background-color: var(--background-header);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__socials{
    display: flex;
}
.header__link{
    font-size: 3rem;
    margin: 0 1.5rem;
}

/* ****** lightThemeButton ******* */
.light-theme-btn{
    position: absolute;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--transparent-color);
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: all .3s ease-out;
}

/* main */
.main {
    grid-area: main;
    background-color:var(--background-main);
    margin: 0 5rem;
    position: relative;
}

/* container grid to content*/
.main__list{
    background-color: var(--background-main);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
    padding: 3rem;
    margin-bottom: 6rem;
}
/* Content */
.main__pagination{
    position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 1.25rem;
	padding: 0.625rem;
    margin-bottom: 1rem;
}

.main__btn{
    cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 3.5rem;
	width: 12.5rem;
	background: var(--color-btn);
	color: var(--color-text);
	border-radius: 6rem;
	font-family: var(--first-type);
	font-weight: 600;
	transition: .3s ease all;
}

.main__btn:hover{
    background: var(--color-btn-hover);
    color: var(--background-footer);
}

/* movie */
.main__movie{
    text-align: center;
}

.main__poster{
    width: 100%;
	margin-bottom: 0.625rem;
	border-radius: 0.938rem;
}

.main__movieTitle{
    font-size: 16px;
	font-weight: 600;
}

/* footer */
.footer {
    grid-area: footer;
    background-color: var(--background-footer);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__a{
    color: var(--link-color);
}

/************* LIGHT MODE ***************/
.header.light-mode{
    background-color: var(--light-header);
}

.grid-container.light-mode{
    background-color: var(--light-body);
}

.main.light-mode{
    background-color: var(--light-main);
}

.main__list.light-mode{
    background-color: var(--light-main);
    color: var(--light-text);
}

.main__btn.light-mode{
    background-color: var(--light-header);
}
.main__btn.light-mode:hover{
    background-color: var(--color-btn-hover);
}

.footer.light-mode{
    background-color: var(--light-header);
}
